@page "/counter"

@* <PageTitle>Counter</PageTitle> *@
<PageContainer title="Counter">
    <Card>
        <p role="status">Current count: @currentCount</p>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Card>
</PageContainer>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
