@page "/counter"

<PageTitle>Counter</PageTitle>
<PageContainer title="counter">
<Card>


    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

</Card>
</PageContainer>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
